<div class="footer">
  <!-- <div class="container"> -->
  <div>
    <a href="https://www.facebook.com/ASR-Badminton-1456263027944405/?fref=ts" "email me"><i class="fa fa-facebook icon fa-2x"></i></a>
  </div>
  <p><a href="https://github.com/CyLemeunier">@CyLemeunier</a></p>
  <!-- </div> -->
</div>
