<div class="container text-center">
  <h1>3ème KOBAD Tour</h1>
  <h2>Tableaux SH - SD - DH - DD - DM  /  Séries R6 à D9</h2>
  <p>N°autorisation : à venir </p>
</div>

<div class="container">
  <div class="row">
    <!-- Partie compétition et inscriptions -->
    <div class="col-xs-12 col-sm-6">
      <div class="titre_informations">
        Compétition et inscriptions
      </div>
      <div class="text-center">
        <p><strong><u>Accueil / Pointage</u></strong>
        </br>
        A partir de 8h les 2 jours
        </br>
        au complexe sportif Rue René Cutté</p>
        <p><strong><u>Début des tableaux</u></strong>
        </br>
        Simples / Mixtes : intégralement joués le samedi
        </br>
        Doubles : intégralement joués le dimanche</p>
        <p><strong>ATTENTION</strong> Il n'est pas possible de faire du simple et du mixte.</p>
        </br>
        <p>Aucune inscription par mail / téléphone. Toutes les inscriptions doivent obligatoirement passer par ce site.</p>
      </div>
    </div>
    <!-- Partie échéancier -->
    <div class="col-xs-12 col-sm-6">
      <div class="titre_informations">
        Echéancier
      </div>
      <div class="text-center">
        <p><strong><u>Juge - Arbitre</u></strong>
        </br>
        Cyrielle LEMEUNIER </p>
        <p><strong><u>Tarifs</u></strong>
        </br>
        9€ (1 tableau) / 16€ (2 tableaux)</p>

        <p><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i> L’organisateur se laisse la possibilité de répartir les joueurs et les joueuses en
        tableaux où le CPPH sera le critère de répartition et non plus la série du classement. Dans ce cas,
        un tableau sera constitué de joueurs, joueuses ou paires ayant un CPPH proche.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="titre_informations">
        Salles
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        Complexe Sportif
        </br>
        Rue René Cutté
        </br>
        35850 ROMILLE
      </div>
      <div id="map" style="width: 100%; height: 300px;"></div>
        <% content_for(:after_js) do %>
          <script>
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers([
                  {
                    "lat": 48.2190143,
                    "lng": -1.8964110,
                  }
                ]);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(15);
              });
            })
          </script>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <!-- Partie Récompenses -->
      <div class="titre_informations">
        Récompenses
      </div>
      <div class="text-center">
        <p>Les vainqueurs et les finalistes seront récompensés par des paniers gourmands</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">

      <!-- Partie restauration -->
      <div class="titre_informations">
        Buvette
      </div>
      <div class="text-center">
        <p>Sandwichs, croque-monsieurs, boissons chaudes ou
        fraîches, gâteaux, friandises...</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <!-- Partie contacts -->
      <div class="titre_informations">
        Contacts
      </div>
      <div class="text-center">
        Tony LEMEUNIER
        </br>
        06.01.78.88.24
        </br>
        </br>
        <a href="mailto:tournoi@asr-badminton.ff" class="link_home">tournoi@asr-badminton.fr</a>
        </br>
      </div>
    </div>
      <!-- Partie convocations -->
    <div class="col-xs-12 col-sm-6">
      <div class="titre_informations">
        Convocations
      </div>
      <div class="text-center">
        <p><strong><u>Tirage au sort </u></strong>
        </br>
        Lundi 27 mars</p>
        </br>
        <p>Les joueurs forfaits après le tirage au sort ne seront pas remboursés</p>
        <p>Les convocations seront diffusées par mail à partir du <strong> mercredi 29 mars</strong> et seront également disponibles sur ce site</p>
      </div>
    </div>
  </div>

  <!-- Partie basse -->
  <div style="margin-bottom: 20px;">
    <div class="row">
      <div class="col-xs-12">

      </div>
      <!-- Partie partenaires -->
      <div class="col-xs-12">
        <div class="titre_informations">
          Partenaires
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <%= image_tag "3_sets.jpg" %>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <%= image_tag "super_u_romille.jpg" %>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <%= image_tag "solibad.jpg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
