<div class="container text-center">
  <div id="explications_inscriptions">
    <h2>Comment procéder pour s'inscrire ?</h2>
    <p>1) <strong>Remplissez le formulaire ci-dessous</strong></p>
    <p>2) <strong>Remplissez la <%= link_to "fiche d'inscription (clic)", asset_path("Kobad Tour 2016 inscription.doc") %></strong> qui récapitule la ou les inscriptions que vous venez d'effectuer </p>
    <p>3) <strong>Envoyer la fiche d'inscription et le règlement</strong> à l’ordre de l'AS Romillé Badminton <u>avant le <strong>27 mars</strong></u> à :</p>
    <p>
      <span style="color: red;">Tony LEMEUNIER
      </br>
      412 Coutanier
      </br>
      35360 BOISGERVILLY</span>
    </p>
    <p><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i> Si vous êtes en recherche de partenaire pour du double, remplissez uniquement la partie "Joueur 1". Si vous trouvez un partenaire, prévenez-nous par mail à <a href="mailto:tournoi@asr-badminton.fr">tournoi@asr-badminton.fr</a>, nous complèterons votre inscription</p>
    <p>Tarifs : 9€ pour 1 tableau - 16€ pour 2 tableaux. Simple + mixte : non autorisé.</p>
  </div>
</div>
<%= render "form_for_inscriptions" %>

